<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>
  
    <% if (locals.type !== undefined) { %>
        <% exercises.forEach(element=> { %>
            <%= element %>
                <% }) %>
                    <% } else { %>
                        <h2>Hello there, user</h2>
                        <form method="post">
                            <label for="">Introduce your workout</label>
                            <input name="type" placeholder="type" type="text">
                            <input name="firstExercise" placeholder="squat" type="text">
                            <input name="secondExercise" placeholder="press" type="text">
                            <input name="thirdExercise" placeholder="deadlift" type="text">
                            <button type="reset">Clean values</button>
                            <button type="submit">Send</button>
                        </form>
                        <% } %>

</body>

</html>